/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Root **/
:root {
    --charte-color: #0065FC;
    --charte-color-light: #DEEBFF;
    --background-color: #F2F2F2;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    margin: auto;
    width: 1440px;
}

/*

    HEADER

*/

#main header #Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#main #HeaderMobile {
    display: none;
}

#main header #Header nav ul {
    display: flex;
}

#main header #Header nav ul,li {
    list-style-type: none;
}

#main header #Header nav ul li a, a:link, a:visited {
    text-decoration: none;
    color: #000;
    padding: 2rem;
    font-weight: 500;
}

#main header #Header nav ul li .active, a:active {
    color: var(--charte-color);
    font-weight: 500;
    border-top: 3px var(--charte-color) solid;
}

#main header #Header nav ul li .register, .register:hover {
    color: var(--charte-color);
    font-weight: 600;
    border: none !important;
}

.register, .register:hover {
    color: var(--charte-color);
    font-weight: 600;
    border: none !important;
}

#main header #Header nav ul li a:hover {
    border-top: 3px var(--charte-color) solid;
    color: var(--charte-color);
}

/*

    CONTAINER PAGE

*/

#main #containerPage {
    padding: 20px;
}

/*

    SECTION SEARCH

*/

#main #containerPage #search h1 {
    font-size: 2em;
    margin: 0 0 0.2em 0;
    font-weight: 900;
}

#main #containerPage #search p {
    margin: 0 0 1em 0;
}

#main #containerPage #search #form-search form {
    display: flex;
}

#main #containerPage #search #form-search {
    display: flex;
    margin: 0 0 2em 0;
    border-radius: 1rem;
}

#main #containerPage #search #form-search #markerForm {
    background-color: var(--background-color);
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

#main #containerPage #search #form-search .markerFormIcon {
    margin-left: 0.2rem;
    font-size: 1.10rem;
}

#main #containerPage #search #form-search #input-search {
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    font-weight: bold;
    width: 14rem;
    outline: none;
}

#main #containerPage #search #form-search .btn-search {
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    border: none;
    outline: none;
    padding: 0 1.5rem;
    background: var(--charte-color);
    color: #fff;
    font-weight: bold;
    font-size: 1.15rem;
    cursor: pointer;
}

.mobile-btn-search {
    display: none;
}

#main #containerPage #search #filters {
    display: flex;
    flex-wrap: wrap;
}

#main #containerPage #search #filters h3 {
    margin: 0 2rem 1rem 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}

#main #containerPage #search #filters #filtersList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#main #containerPage #search #filters #filtersList > * {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    user-select: none;
    transition: transform 200ms ease-in-out;
}

#main #containerPage #search #filters #filtersList > *:hover {
    transform: scale(1.1);
}

#main #containerPage #search #filters #filtersList .filtersIcon {
    background-color: var(--charte-color-light);
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    min-height: 3rem;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: var(--charte-color);
    font-size: 1.15rem;
}

#main #containerPage #search #filters #filtersList .filterTitle {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 1rem;
}

#main #containerPage #search #notice {
    display: flex;
    align-items: center;
    margin: 1.25rem 2rem 1.5rem 0.5rem;
}

#main #containerPage #search #notice #infoIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d9d9d9;
    color: var(--charte-color);
    font-size: 0.7em;
}

#main #containerPage #search #notice #noticeText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

/*

    SECTION HOSTING

*/

#main #containerPage #hosting {
    display: flex;
}

#main #containerPage #hostingCards {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    border-radius: 20px;
    margin: 0 1rem 0 0;
    padding: 2rem;
    width: 65%;
    flex-wrap: wrap;
}

#main #containerPage #hostingCards h1 {
    margin: 1rem 0 1rem 1.5rem;
}

#main #containerPage #hosting #hostingCards .more {
    font-size: 1.15em;
    font-weight: 700;
}

#main #containerPage #hosting #containerHostingCards {
    display: flex;
    background: var(--background-color);
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#main #containerPage #hosting #containerHostingCards article {
    background-color: #fff;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    flex: 0 0 15rem;
    margin: 1rem;
    transition: transform 200ms ease-in-out;
}

#main #containerPage #hosting #containerHostingCards article:hover {
    transform: scale(1.1);
}

#main #containerPage #hosting #containerHostingCards .hostingCard figure img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

#main #containerPage #hosting #containerHostingCards .hostingCard figure figcaption {
    margin: 0 0.8rem;
}

#main #containerPage #hosting #containerHostingCards .hostingCard figure figcaption p {
    font-size: 0.875em;
    font-weight: 400;
}

#main #containerPage #hosting #containerHostingCards .hostingCard figure figcaption h4,p {
    margin: 0.3rem 0;
}

#main #containerPage #hosting #containerHostingCards .hostingCard figure figcaption i {
    color: var(--charte-color);
    font-size: 0.775em;
    margin-bottom: 0.5rem;
}

.grey {
    color: #d9d9d9;
}

#main #containerPage #hosting #hostingPopular {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    border-radius: 20px;
    margin: 0 0 0 1rem;
    width: 27rem;
    padding: 1rem;
    flex-wrap: wrap;
}

#main #containerPage #hosting #hostingPopular h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1.5rem 0 1.5rem;
}

#main #containerPage #hosting #hostingPopular #hostingPopularCards article {
    background-color: #fff;
    margin: 2rem 1rem;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    align-items: stretch;
    overflow: auto;
    transition: transform 200ms ease-in-out;
}

#main #containerPage #hosting #hostingPopular #hostingPopularCards article:hover {
    transform: scale(1.1);
}

#main #containerPage #hosting #hostingPopular #hostingPopularCards article figure {
    display: flex;
}

#main #containerPage #hosting #hostingPopular #hostingPopularCards article figure .hostingPopularCardImg img {
    width: 8rem;
    height: 8.5rem;
    border-radius: 1rem 0px 0px 1rem;
    object-fit: cover;
}

#main #containerPage #hosting #hostingPopular #hostingPopularCards article figure figcaption {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 1.5rem;
}

#main #containerPage #hosting #hostingPopular #hostingPopularCards article figure figcaption .stars {
    color: var(--charte-color);
    font-size: 0.775em;
}

.light-text {
    font-weight: 400;
}

/*

    SECTION ACTIVITY

*/

#main #activity {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

#main #activity #activityCards #containerActivityCards {
    margin: 2rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main #activity #activityCards #containerActivityCards article {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #0000002e;
    margin: 0.935rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

#main #activity #activityCards #containerActivityCards article:hover {
    transform: scale(1.1);
}

#main #activity #activityCards #containerActivityCards article .activityCardImg img {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

#main #activity #activityCards #containerActivityCards article h4 {
    align-items: center;
    margin: 1rem;
}

#main #activity #activityCards #containerActivityCards .containerTwoCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main #activity #activityCards #containerActivityCards .containerTwoCards .activityCardImg-double img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.larger {
    height: 11rem !important;
}

.small {
    height: 7.5rem !important;
}

.normal {
    height: 9.5rem !important;
}

/*

    SECTION FOOTER

*/

footer {
    background: var(--background-color);
}

footer #footer {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    line-height: 1.5rem;
    font-weight: 200;
}

footer #footer #about, #hosts, #help {
    width: 30%;
    padding: 2rem 2rem;
}

footer #about a, #hosts a, #help a {
    padding: 0;
    margin: 0;
}

footer #about h3, #hosts h3, #help h3 {
    margin-bottom: 1rem;
}

/*

    MEDIA QUERIES

*/

@media screen and (max-width: 1199px) {
    #main {
        margin: auto;
        width: 100%;
    }

    #footer {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    #main {
        margin: auto;
        width: 100%;
    }

    #footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #main {
        margin: auto;
        width: 100%;
    }

    #footer {
        width: 100%;
    }

}

@media screen and (max-width: 680px) {
    #main {
        margin: auto;
        width: 100%;
    }

    #main #containerPage {
        padding: 2rem;
    }

    #main #containerPage #search h1 {
        font-size: 1.5em;
        font-weight: 700;
    }

    #main header #Header {
        display: none;
    }

    #main header #HeaderMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    #main header #HeaderMobile #logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #main header #HeaderMobile #logo .register, .register:hover {
        color: var(--charte-color);
        font-weight: 600;
        border: none !important;
    }

    #main header #HeaderMobile nav {
        width: 100%;
        text-align: center;
    }

    #main header #HeaderMobile nav ul {
        display: flex;
        justify-content: space-around;
    }
    
    #main header #HeaderMobile nav ul li {
        list-style-type: none;
        padding: 2.5rem;
        border-bottom: 3px #d9d9d9 solid;
    }
    
    #main header #HeaderMobile nav ul li:hover {
        list-style-type: none;
        padding: 2.5rem;
        border-bottom: 3px var(--charte-color) solid;
    }

    #main header #HeaderMobile nav ul .active {
        list-style-type: none;
        padding: 2.5rem;
        border-bottom: 3px var(--charte-color) solid;
    }
    
    #main header #HeaderMobile nav ul li a, a:link, a:visited {
        text-decoration: none;
        color: #000;
        padding: 2rem;
        font-weight: 500;
    }
    
    #main header #HeaderMobile nav ul li a:hover {
        color: var(--charte-color);
    }
    
    #main header #HeaderMobile nav ul li .active, a:active {
        color: var(--charte-color);
        font-weight: 500;
        border-top: none;
    }

    .mobile-btn-search {
        display: block;
    }

    .no-mobile-search-btn {
        display: none;
    }
    
    #main #containerPage #hosting {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    #main #containerPage #hostingCards {
        max-width: 100%;
        margin: 0;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        order: 2;
        margin: 2rem 0 0 0;
        background: #fff;
        width: 100%;
    }

    #main #containerPage #hosting #containerHostingCards {
        background: #fff;
    }

    #main #containerPage #hosting #containerHostingCards {
        margin: 0.5rem 0;
    }

    #main #containerPage #hosting #containerHostingCards article {
        flex: 0 0 22rem;
    }

    #main #containerPage #hosting #hostingPopular {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        order: 1;
        align-items: unset;
        margin: 0;
        width: 100%;
    }

    #main #activity #activityCards #containerActivityCards {
        justify-content: center;
    }

    footer #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }
}